$sidebarColor: rgb(17, 17, 17);
$sidebarWidth: 300px;


$footerHeight: 100px;
$footerColor:  rgb(24, 23, 23);

$padding-main-stage: 40px 15px 15px;

$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


$mobile: 375px;
$mobileL: 425px;
$tablet: 768px;
$tabletL: 1024px;
$desktop: 1480px;