$sidebarColor: rgb(17, 17, 17);
$sidebarWidth: 300px;


$footerHeight: 100px;
$footerColor:  rgb(28, 27, 27);

$padding-main-stage: 40px 15px 15px;

$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
