.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(28, 27, 27);
  padding: 10px;
}
.footer .song {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  width: 33%;
  height: 95%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .song img {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.534);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

#root {
  background-color: rgb(17, 17, 85);
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
}

.main-content {
  width: calc(100% - 300px);
  overflow: auto;
  height: calc(100% - 100px);
}

.mega-componente {
  height: 2000px;
  background-image: linear-gradient(rgb(17, 17, 85), rgb(28, 27, 27));
  justify-content: flex-start;
  flex-wrap: wrap;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-top: 10px;
  padding-left: 15px;
}
.top .profile {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(49, 48, 48, 0.582);
  border-radius: 130px;
  width: 200px;
  height: 50px;
}
.top .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.top .profile .triangle {
  width: 0px;
  height: 0px;
  line-height: 0px;
  border-top: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.top .profile:hover {
  cursor: pointer;
}

.buttonLeftRight {
  display: flex;
  gap: 15px;
}
.buttonLeftRight .left {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 21);
}
.buttonLeftRight .left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.buttonLeftRight .left:hover {
  cursor: pointer;
}
.buttonLeftRight .right {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 21);
}
.buttonLeftRight .right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.3;
}
.buttonLeftRight .right:hover {
  cursor: pointer;
}

.main-stage {
  border-radius: 10px;
  width: 96%;
  height: 350px;
  margin: 2%;
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(to top right, black, rgb(17, 17, 85) 80%);
}

.immagine-latina {
  padding: 40px 15px 15px;
}

.scritta-main-stage {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.playlist {
  padding: 50px 20px 10px;
}

.latina {
  font-weight: bold;
  font-size: 100px;
  padding: 0px 20px 5px;
}

.description {
  padding: 20px 20px 18px;
  font-size: 20px;
}

.buttons {
  display: flex;
  width: 400px;
  gap: 25px;
  padding-left: 20px;
}

.dots {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dots:hover {
  cursor: pointer;
}
.dots:hover .single-dot {
  background-color: #fff;
}

.single-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(28, 27, 27);
}

.play {
  background-color: rgb(40, 237, 40);
}

.segui {
  background-color: black;
  color: white;
  border: 2px solid rgb(28, 27, 27);
}
.segui:hover {
  border: 2px solid white;
  cursor: pointer;
}

button {
  border-radius: 40px;
  width: 120px;
  height: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
button:hover {
  width: 130px;
  height: 65px;
  cursor: pointer;
}

.annuncio {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.annuncio button {
  width: 180px;
  height: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  background-color: rgba(28, 27, 27, 0.405);
  color: rgba(128, 128, 128, 0.541);
  border-radius: 30px;
  border: 0px;
}
.annuncio button:hover {
  color: grey;
  background-color: rgb(28, 27, 27);
  cursor: pointer;
}

.buon-pomeriggio {
  padding-left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.scelti-per-me {
  width: 96%;
  height: 300px;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "singolo-box singolo-box singolo-box";
  gap: 18px;
}

@media screen and (max-width: 900px) {
  .scelti-per-me {
    width: 96%;
    height: 300px;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "singolo-box singolo-box singolo-box";
  }

  .singolo-box {
    background-color: rgba(49, 48, 48, 0.582);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: white;
  }
  .singolo-box:hover {
    background-color: rgba(80, 78, 78, 0.582);
    cursor: pointer;
  }
  .singolo-box img {
    height: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.singolo-box {
  background-color: rgba(49, 48, 48, 0.582);
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
}
.singolo-box:hover {
  background-color: rgba(80, 78, 78, 0.582);
  cursor: pointer;
}
.singolo-box img {
  height: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.popolare {
  padding-left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.middle-stage {
  width: 96%;
  height: 400px;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "podcast podcast podcast podcast podcast podcast";
  gap: 18px;
}

.podcast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(75, 75, 75, 0.181);
  gap: 20px;
  padding-bottom: 20px;
}
.podcast:hover {
  background-color: rgba(143, 142, 142, 0.181);
}
.podcast img {
  width: 170px;
  height: 200px;
  border-radius: 10px;
}

.titolo-podcast {
  color: #fff;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*.separatore {
  width: 80px;
}*/
.description-podcast {
  color: grey;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  background-color: rgb(17, 17, 17);
  width: 300px;
  height: calc(100% - 100px);
}

.dots-sidebar {
  width: 75px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dots-sidebar:hover {
  cursor: pointer;
}
.dots-sidebar:hover .single-dot-sidebar {
  background-color: #fff;
}

.single-dot-sidebar {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(28, 27, 27);
}

.sidebar-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  color: rgba(255, 255, 255, 0.395);
  height: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.sidebar-options img {
  max-width: 35px;
  max-height: 35px;
  opacity: 0.3;
}
.sidebar-options:hover {
  cursor: pointer;
  color: white;
}
.sidebar-options:hover img {
  opacity: 1;
}

.home {
  color: #fff;
}
.home img {
  opacity: 1;
}

.separation {
  height: 20px;
}

.separation1 {
  border: rgba(255, 255, 255, 0.322) 1px solid;
  height: 2px;
  width: 240px;
}

.separation2 {
  height: 2px;
  width: 300px;
}

hr {
  width: 240px;
}/*# sourceMappingURL=style.css.map */